app/node_modules
app/vendor/bundle/*
app/android/.gradle
app/android/build
app/android/app/build
app/ios/app.xcworkspace/xcuserdata
app/ios/build
app/ios/Pods
app/ios/Podfile.lock
app/node_modules_trash
app/android/.idea
node_modules
DEMO/android/.gradle
**/build/**
DEMO/ios/Pods
DEMO/vendor
DEMO/android/app/.cxx
DEMO/android/.kotlin
DEMO/.bundle
DEMO/android/.idea
DEMO/ios/DEMO.xcworkspace/xcuserdata
